<h3>Add User</h3>

<form class="form-inline mb-4">
  <form [formGroup]="userForm" (submit)="createUser()" class="form-inline mb-4">
    <label class="sr-only" for="name">Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="name" placeholder="name">
    </div>
    <label class="sr-only" for="email">Email</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="email" placeholder="Email">
    </div>

    <label class="sr-only" for="gender">Gender</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="gender" placeholder="Gender">
    </div>

    <label class="sr-only" for="company">Company</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="company" placeholder="Company">
    </div>

    <label class="sr-only" for="age">Age</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="number" class="form-control" formControlName="age" placeholder="Age">
      
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add User</button>
  </form>