<form [formGroup]="customerForm" (ngSubmit)="submitForm()" novalidate>
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field>
            <input formControlName="fullName" matInput placeholder="Full Name*">
            <mat-error *ngIf="errorHandling('fullName', 'required')">
              You must provide a <strong>Full name</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="Email address" formControlName="email">
            <mat-error *ngIf="errorHandling('email', 'required')">
              You must provide a <strong>email</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="mobile" matInput placeholder="Mobile*">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="city" matInput placeholder="City">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <div class="add-bottom-padding">
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="1">Male</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
              <mat-radio-button value="3">Other</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field>
            <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="add-bottom-padding">
            <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" >Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>