
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Serial</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Company</th>
            <th>Email</th>
            <th>Age</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
   
    <tr>
        <tr *ngFor="let userInfo of (users$ |async) let i=index;">
            <td>{{ i+1 }}</td>
            <td>{{ userInfo.name}}</td>
            <td>{{ userInfo.gender}}</td>
            <td>{{ userInfo.company}}</td>
            <td>{{ userInfo.email}}</td>
            <td>{{ userInfo.age}}</td>
            <td>{{ userInfo.status}}</td>
            <td>
        <a (click)=editUser(userInfo)>edit</a>
        <br>
        <a (click)=deleteUser(userInfo)>delete</a>
      </td>
        </tr>
        <tr>
            <td colspan="8" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
          </tr>
    </tbody>
</table>